<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	The <a href="http://AnhChauIsMyLife.heroku.com"> best site in the world</a> is that one I just made.
</p>
<p>
	You should click it, it's amazing.
</p>